<div class="flight-card appear">
    <div class="row">
        <div class="column">
            <div class="label">MAD</div>
            <div class="time">13:00</div>
        </div>
        <div class="column wide">
            <div class="flight-time">1 hrs 10 min</div>
            <img src="/assets/img/plane-path.png" width="169px" height="18px">
            <div class="non-stop">Non-Stop</div>
        </div>
        <div class="column">
            <div class="label">MAD</div>
            <div class="time">13:00</div>
        </div>
    </div>
    <div class="row">
        <div class="column airline-info">
            <div class="airline-image"></div>
            <div class="flight-num">RY1476</div>
        </div>
        <div class="column">
            <app-button></app-button>
        </div>
    </div>
</div>
